
@keyframes crazylefteye {
    0%,
    100%,
    70% {
        left: 125px;
        top: 65px
    }
    10%,
    20% {
        left: 118px;
        top: 56px
    }
    40% {
        left: 148px;
        top: 62px
    }
    50% {
        left: 145px;
        top: 72px
    }
    60% {
        left: 121px;
        top: 70px
    }
}

@keyframes crazyrighteye {
    0%,
    100%,
    70% {
        left: 231px;
        top: 68px
    }
    10%,
    20% {
        left: 212px;
        top: 62px
    }
    40% {
        left: 239px;
        top: 64px
    }
    50% {
        left: 240px;
        top: 80px
    }
    60% {
        left: 215px;
        top: 73px
    }
}

.beast {
    float: right;
    margin: 0
}

#beastainer {
    float: right;
    padding: 20px 0 20px 20px;
    position: relative
}

#beast404le,
#beast404re {
    position: absolute;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

#beast404re {
    left: 231px;
    top: 68px;
    -webkit-animation-name: crazyrighteye;
    animation-name: crazyrighteye
}

#beast404le {
    left: 125px;
    top: 65px;
    -webkit-animation-name: crazylefteye;
    animation-name: crazylefteye
}